<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Quotes from IRC{% endblock title %}</title>
  </head>
  <body>
    {% block header %}
    <header>
      <h1>Quotes from IRC</h1>
    </header>
    {% endblock header %}
    {% block nav %}
    <nav>
      <ul>
        <li><a href="{% url "random_quote" %}">Random quote</a></li>
      </ul>
    </nav>
    {% endblock nav %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <footer>
      <p>All quotes may or may not be copyright of their respective authors.</p>
      <p>Website powered by <a href="https://meekchopp.es">Michcioperz</a>'s <a href="https://github.com/michcioperz/quotes-from-wild-irc">random free time project</a>.</p>
    </footer>
    {% endblock footer %}
  </body>
</html>
