{% load static %}
{% load i18n %}
{% load quotequota %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% trans "Quotes from IRC" %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
  </head>
  <body>
    {% block header %}
    <header>
      <h1>{% trans "Quotes from IRC" %}</h1>
    </header>
    {% endblock header %}
    {% block nav %}
    <nav>
      <ul>
        <li>{% quotecount as qq %}{% blocktrans count counter=qq %}There is 1 quote at the time.{% plural %}There are {{ counter }} quotes at the time.{% endblocktrans %}</li>
        <li><a href="{% url "random_quote" %}">{% trans "Random quote" %}</a></li>
        <li><a href="{% url "admin:quotequota_quote_add" %}">{% trans "Add a quote" %}*</a></li>
      </ul>
    </nav>
    {% endblock nav %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <footer>
      <p>{% trans "All quotes may or may not be copyright of their respective authors." %}</p>
      <p>{% blocktrans %}Website powered by <a href="https://meekchopp.es">Michcioperz</a>'s <a href="https://github.com/michcioperz/quotes-from-wild-irc">random free time project</a>.{% endblocktrans %}</p>
    </footer>
    {% endblock footer %}
  </body>
</html>
