{% load cache %}
{% cache 600 quote quote.pk %}
<section class="quote" data-quote-id="{{ quote.pk }}">
  <blockquote>
      {% for line in quote.as_lines %}
<p>{{ line | escape }}</p>
      {% endfor %}
    <footer>
      <cite>
        <ul class="inline">
          <li>{{ quote.added_timestamp }}</li>
          <li><a href="{% url "render_quote" quote.pk %}">#{{ quote.pk }}</a></li>
          <li><a href="{% url "quotequota_quote_change" quote.pk %}">edit</a></li>
        </ul>
      </cite>
    </footer>
</section>
{% endcache %}
